{% extends "base.html" %}
{% block content %}

<div class="container my-5 ">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="mb-4 display-4 fw-bold">About Us</h1>
        <p class="lead">
          Welcome to <strong>CrisisAid </strong>, your trusted source for reliable and up-to-date news on global crises.
          We aim to shed light on critical events, including humanitarian challenges, natural disasters, and conflicts worldwide.
        </p>
        <p class="lead">
          Our platform not only provides you with the latest news but also connects you with opportunities to make a difference.
          Through detailed reports and links to trusted donation platforms, we empower you to take action in times of need.
        </p>
        <p class="lead">
          At <strong>CrisisAid</strong>, we believe that staying informed is the first step toward building a better future. Together, we can raise awareness, drive change, and extend support to communities facing the toughest challenges.
        </p>
        <a href="https://www.crisisaid.org.uk/" target="_blank" class="btn btn-primary btn-lg mt-4">Contact Us</a>
      </div>
    </div>
  </div>

{% endblock %}